* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #1E1E1E;
}

h1, h2, h3, #titulo{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    letter-spacing: 1px;
}

header {
    background-color: #F1ECE6;
    padding: 20px 50px;
    position: sticky;
    border: 1px solid rgb(4, 4, 4);
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

nav img {
    width: 120px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
    margin-left: auto;
}

nav ul li{
    margin-left: 25px;
}

nav ul li a {
    color: #1E1E1E;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

nav ul li a:hover {
    color: #C86A2B;
}

.boton-menu {
    font-size: 28px;
    color: #000000;
    text-decoration: none;
    display: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.boton-menu:hover {
    transform: scale(1.1);
}

.banner {
    background-image: url(img/Banner-dayla.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 30px;
    padding: 1em;
    color: #020202;
}

#caja {
    display: flex;
    align-items: center;
    margin-right: 2em;
}

#foto {
    float: right;
    width: 15%;
    height: auto;
    margin-right: 20px;
}

#titulo {
    font-size: 64px;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 20px;
}

.descripcion {
    font-size: 20px;
    text-align: justify;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.7;
}

#foto {
    width: 55%;
    border: 1px #000;
    image-rendering: optimizeQuality;
    image-orientation:from-image;
}

.tabla {
    max-width: 1200px;
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.caja-catalogo {
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.06);
    transition: all 0.35s ease;
}


.caja-catalogo a{
    text-decoration: none;
    color: #1E1E1E;
    display: block;
    padding-bottom: 20px;
    text-align: center;
}

.caja-catalogo img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.caja-catalogo span {
    display: block;
    margin-top: 18px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

.caja-catalogo:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}


.caja-catalogo:hover img {
    transform: scale(1.08);
}


.caja-catalogo:hover span {
    color: #C86A2B;
}

div #contactos {
    display: flex;
}

#contactos iframe {
    padding-top: 10px;
}

#enlaces {
    margin-left: 5em;
    display: -ms-grid;
    align-content: center;    
}

#mobile {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin-top: 9%;
    margin-left: 10%;
    white-space: nowrap;
    font-size: 20px;
}

#mobile img {
    width: 50px;
    height: 50px;
}

#mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    gap: 30px;
    margin-top: 9%;
    margin-left: 10%;
    font-size: 20px;
}

#mail img {
    width: 50px;
    height: 50px;
}

.footer {
    background-color: #C86A2B;
    color: white;
    text-align: right;
    font-size: 15px;
}

.cookie-popup{
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    display:none;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin: auto;
    z-index: 1000;
}

.cookie-popup.show{
    display: flex;
}

.cookie-popup button{
    background-color: #F1ECE6;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
}

.cookie-popup a{
    color: #F1ECE6;
    text-decoration: underline;
}

@media screen and (max-width:700px) {
    
    .boton-menu {
        display: block;
    }

    .menu-principal {
        display: none;
        flex-direction: column;
        gap: 12px;
        text-align: center;
        background-color: #F1ECE6;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        padding: 15px 20px;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        z-index: 100;
    }

    .menu-principal.menu-desplegado {
        display: flex;
    }

    .menu-principal a {
        padding: 10px 12px;
        font-size: 17px;
    }

    #caja {
        margin-right: 0;
        display: block;
    }

    #foto {
        display: none;
    }

    .descripcion {
        font-size: 15px;
    }

    .banner{
        font-size: 25px;
    }

    .tabla {
        grid-template-columns: repeat(2, 1fr);
    }

    .caja-catalogo img {
        width: 50%;
        height: 150px;
        object-fit: cover;
        transition: transform 0.5s ease;
    }

    div #contactos {
        display: block;
    }

    #contactos iframe {
        padding-top: 10px;
        width: 100%;
    }

    #enlaces {
        margin-left: 0.2em;
    }
}

@media screen and (max-width:500px){
       
    .boton-menu {
    display: block;
    }

    .menu-principal {
        display: none;
        flex-direction: column;
        gap: 12px;
        text-align: center;
        background-color: #F1ECE6;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        padding: 15px 20px;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        z-index: 100;
    }

    .menu-principal.menu-desplegado {
     display: flex;
    }

    .menu-principal a {
        padding: 10px 12px;
        font-size: 17px;
    }

    #caja {
        margin-right: 0;
        display: block;
    }

    #foto {
        display: none;
    }

    .descripcion {
        font-size: 15px;
    }

    .banner{
        font-size: 25px;
    }

    .tabla {
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: 1fr;
    }

    .caja-catalogo img {
    width: 50%;
    height: 150px;
    object-fit: cover;
    transition: transform 0.5s ease;
    }

    div #contactos {
        display: block;
    }

    #contactos iframe {
        padding-top: 10px;
        width: 100%;
    }

    #enlaces {
        margin-left: 0.2em;
    }
}
