* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #F1ECE6;
    font-family: 'Century Gothic',sans-serif;
    padding: 20px 50px;
    position: sticky;
    border: 1px solid rgb(4, 4, 4);
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

nav img {
    width: 120px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
    margin-left: auto;
}

nav ul li{
    margin-left: 25px;
}

nav ul li a {
    color: #1E1E1E;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #C86A2B;
}

.boton-menu {
    font-size: 28px;
    color: #000000;
    text-decoration: none;
    display: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.boton-menu:hover {
    transform: scale(1.1);
}

.leyenda1{
    background-color: #C86A2B;
    font-family: 'Courier New', Courier, monospace;
    color: #F1ECE6;
    font-size: 30px;
    padding: 1em;
}

.leyenda2{
    background-color: #C86A2B;
    font-family: 'Courier New', Courier, monospace;
    color: #1E1E1E;
    font-size: 30px;
    padding: 1em;
    padding-bottom: 1em;
}

.titulitos {
    padding: 1em;
}

.lista-catalogo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

.catalogo {
    background: rgb(255, 255, 255);
    width: 250px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.4s ease;
}

.catalogo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: tramsfrom 0.5s ease;
}

.catalogo:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}

.productos {
    padding: 20px;
    font-size: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: justify;
}

.catalogo p {
    margin: 0;
    line-height: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 17px;
}

.catalogo p.short {
    text-align: center;
}

.productos p.long {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.productos span.long-1 {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    white-space: nowrap;
}

.catalogo.active {
    width: 350px;
    transform: scale(1.05);
}

.catalogo.active p.long {
    max-height: 500px;
    opacity: 1;
}

.catalogo.active span.long-1 {
    max-height: 500px;
    opacity: 1;
}

.catalogo.active img {
    width: 220px;
    height: 220;
}

@media screen and (max-width:700px) {
    
.boton-menu {
    display: block;
}

.menu-principal {
    display: none;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    background-color: rgb(247, 219, 200);
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding: 15px 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.menu-principal.menu-desplegado {
    display: flex;
}

.menu-principal a {
    padding: 10px 12px;
    font-size: 17px;
}

.leyenda1{
    font-size: 25px;
}

.leyenda2{
    font-size: 25px;
}
}